.carousel{
    margin: -13px 0 0 0;
    border-radius: 5px;
}

.carousel-item{
    height: 90vh;
    background-size: 100% auto !important;
    background-position:0% 50% !important;
}

#carousel1{
    background:  linear-gradient(to bottom, rgba(255,0,0,0), rgba(6, 0, 0, 0.95)), url("../public/images/carousel4.jpg");
}

#carousel2{
    background:  linear-gradient(to bottom, rgba(255,0,0,0), rgba(6, 0, 0, 0.95)), url("../public/images/carousel2.jpg");
}

#carousel3{
    background:  linear-gradient(to bottom, rgba(255,0,0,0), rgba(6, 0, 0, 0.95)), url("../public/images/carousel3.jpg");
}

.belowCarousel{
    background-color: rgb(255, 163, 30);
}

.belowCarousel{
    text-shadow: 1px 2px 2px rgba(255, 115, 0,0.5);
}

@media (max-width:576px) {
    .carousel-item{
        height: 50vh;
    }
}

@media (max-width:992px) {
    .carousel-item{
        height: 70vh;
    }
}