.navbarsection{
    background-color: #FFA31E !important;
    
    font-size: 26px !important;
}
.search{
    transform: translate(50%);
    position: relative;
}

.search input{
    width: 350px !important;
    border-radius: 50px !important;
}

.search button{
    border-radius: 50px !important;
    position: absolute;
    top: 3%;
    right:2%;
    z-index: 100 !important;
}

.cartIcon{
    position: relative;
}

#nosItemCart{
    background-color: rgb(255, 163, 30);
    border: 1px solid grey;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    position: absolute;
    font-size: 13px;
    font-weight: 900;
    right: 1px;
    top: -1px
}

@media (max-width : 992px) {   
    .search{
        transform: translate(0,0);
    }
    .search button{
        right:5%
    }
}

@media (min-width : 1200px) {
    .search input{
        width: 400px !important;
    }
    .search button{
        right:2%
    }
} 