
.myProfile .myProfileInner .navTabs {
  border-radius: 15px;
  border: 1px solid #FFA31E;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
  transition: all 0.6s ease;
}
.myProfile .myProfileInner .navTabs .nav-pills {
  justify-content: space-between;
}
.myProfile .myProfileInner .navTabs .nav-pills li a {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 40px 10px 10px;
  color: #999;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
}
.myProfile .myProfileInner .navTabs .nav-pills li a span {
  width: 50px;
  height: 50px;
  background-color: #FFA31E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.myProfile .myProfileInner .navTabs .nav-pills li a.active {
  background-color: #FFA31E;
  color: #ffffff;
}
.myProfile .myProfileInner .navTabs .nav-pills li a.active span {
  background-color: #ffffff;
  border-radius: 50px;
}
.myProfile .myProfileInner .navTabs .nav-pills li a.active span svg path {
  fill: #FFA31E;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .myProfileBx {
  border-radius: 15px;
  border: 1px solid #FFA31E;
  background: #ffffff;
  padding: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .myProfileBx.lbChangePassword {
  margin-top: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .myProfileBx .profileHeading {
  margin-bottom: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .myProfileBx .profileHeading h4 {
  color: #111111;
  font-size: 20px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .myProfileBx .personalContent .formGroup {
  border-radius: 6px;
  border: 1px solid #E3E3E3;
  background: #F5F5F5;
  margin-bottom: 20px;
}
.formGroup {
  border-radius: 6px;
  border: 1px solid #E3E3E3;
  background: #F5F5F5;
  margin-bottom: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .myProfileBx .personalContent .formGroup input {
  height: 50px;
  border: 0;
  background: #F5F5F5;
  color: #999;
}

.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .myProfileBx .personalContent .formGroup .input-group-text {
  border: 0;
  background: #F5F5F5;
  color: #FFA31E;
  font-size: 14px;
  font-weight: 700;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .myProfileBx .personalContent .formRatioGroup {
  display: flex;
  align-items: center;
  gap: 15px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .myProfileBx .personalContent .formRatioGroup h5 {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
}
.img-btn{
    padding: 5px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .myProfileBx .personalContent .formRatioGroup .formRatioGroupInner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .myProfileBx .personalContent .btn {
  margin-top: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent {
  height: 100%;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .myProfileBx {
  height: 100%;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .myProfileBx .profileImgOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .myProfileBx .profileImgOuter .profileImg {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .myProfileBx .profileImgOuter .profileImg:before, .myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .myProfileBx .profileImgOuter .profileImg:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 300px 0px 300px 300px;
  top: 0;
  left: 0;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .myProfileBx .profileImgOuter .profileImg:before {
  transform: rotate(15deg);
  background-color: rgba(255, 163, 30, 0.7);
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .myProfileBx .profileImgOuter .profileImg:after {
  transform: rotate(30deg);
  background-color: rgba(255, 163, 30, 0.6);
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .myProfileBx .profileImgOuter .profileImg .profileImgInner {
  width: 200px;
  height: 200px;
  background-color: #FFA31E;
  border-radius: 300px 0px 300px 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 10px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .myProfileBx .profileImgOuter .profileImg .profileImgInner img {
  position: relative;
  z-index: 2;
  border-radius: 50%;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .profileUserDetailBx {
  text-align: center;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .profileUserDetailBx h4 {
  color: #FFA31E;
  font-size: 26px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .profileUserDetailBx span.profTag {
  display: block;
  margin-bottom: 10px;
  color: #999;
  font-size: 16px;
  font-weight: 400;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .profileDetail {
  margin-top: 100px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .profileDetail ul {
  list-style: none;
  padding-left: 0;
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .profileDetail ul li a {
  color: #999;
  font-size: 22px;
  font-weight: 300;
}
.myProfile .myProfileInner .tabContent .tab-content .myProfileContent .personalProfileContent .profileDetail ul li a svg {
  margin-right: 10px;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressHead .addressHeading h4 {
  color: #111111;
  font-size: 20px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressHead .newAddressLink .newAddress {
  color: #FFA31E;
  font-size: 16px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .row {
  gap: 30px 0;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard {
  display: grid;
  grid-template-columns: 1fr 50px;
  border-radius: 15px;
  border: 1px solid #FFA31E;
  background: #ffffff;
  padding: 20px;
  gap: 200px;
  height: 100%;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressDetailHeading {
  margin-bottom: 15px;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressDetailHeading h5 {
  color: #111111;
  font-size: 20px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressDetailHeading h6 {
  color: #FFA31E;
  font-size: 18px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard p {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressContactList .addressContactNav {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressContactList .addressContactNav li {
  position: relative;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressContactList .addressContactNav li a:before {
  position: absolute;
  content: "|";
  right: -10px;
  color: #999;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressContactList .addressContactNav li:last-child a:before {
  content: unset;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressContactList .addressContactNav li a {
  color: #999;
  font-size: 16px;
  font-weight: 400;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressLinkBtnList .addressLinkBtnNav {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressLinkBtnList .addressLinkBtnNav li {
  position: relative;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressLinkBtnList .addressLinkBtnNav li a:before {
  position: absolute;
  content: "|";
  right: -10px;
  color: #999;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressLinkBtnList .addressLinkBtnNav li:last-child a {
  color: #999;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressLinkBtnList .addressLinkBtnNav li:last-child a:before {
  content: unset;
}
.myProfile .myProfileInner .tabContent .tab-content .addressContent .addressCardGroup .addressCard .addressDetailCard .addressLinkBtnList .addressLinkBtnNav li a {
  color: #FFA31E;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .myOrderHistoryhead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .myOrderHistoryhead .orderHistoryHeading h4 {
  color: #111111;
  font-size: 20px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard {
  border-radius: 15px;
  border: 1px solid #FFA31E;
  background: #ffffff;
  margin-bottom: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #FFA31E;
  padding: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardHead .orderCardHeadLeftCol a {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
.shipped{
  text-decoration: none;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardHead .orderCardHeadLeftCol a .tiffinService {
  color: black;
  font-size: large;
 
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardHead .orderCardHeadLeftCol a .orderDelivered {
  color: #3FD314;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardHead .orderCardHeadLeftCol a .orderCancelled {
  color: #FA2424;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardHead .orderCardHeadRightCol {
  display: flex;
  align-items: center;
  gap: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardHead .orderCardHeadRightCol a {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.4s ease;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardHead .orderCardHeadRightCol a:hover {
  color: #FFA31E;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardBody .orderCardInnerBody {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: self-start;
  gap: 20px;
  padding: 20px;
}

.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardBody .orderCardInnerBody .orderCardImgBody img {
  position: relative;
  height: 120px;
  width: auto;
  border-radius: 30px;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardBody .orderCardInnerBody .orderCardImgContent h4 {
  color: #FFA31E;
  font-size: 20px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardBody .orderCardInnerBody .orderCardImgContent h4 a {
  color: #FFA31E;
  font-size: 20px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardBody .orderCardInnerBody .orderCardImgContent p {
  color: #313131;
  font-size: 14px;
  font-weight: 400;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardBody .orderCardInnerBody .orderCardImgContent .star {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  color: #FFA31E;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardBody .orderCardInnerBody .orderCardBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.myProfile .myProfileInner .tabContent .tab-content .myOrderContent .orderCardGroup .orderCard .orderCardInner .orderCardBody .orderCardInnerBody .orderCardBtn span.orderPrice {
  color: #FFA31E;
  font-size: 26px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentMethodsHead {
  margin-bottom: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentMethodsHead .paymentMethodsHeading h4 {
  color: #111111;
  font-size: 20px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter {
  margin-bottom: 40px;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner {
  display: grid;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter {
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid #FFA31E;
  background: #ffffff;
  padding: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo {
  position: relative;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo img.visaCardImg {
  width: 350px;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo .paymentVisaCardInfoInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo .paymentVisaCardInfoInner .paymentVisaCardNumber {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo .paymentVisaCardInfoInner .paymentVisaCardNumber h5 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo .paymentVisaCardInfoInner .paymentCardMiddleInfo h4 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo .paymentVisaCardInfoInner .paymentCardMiddleInfo .paymentCardEndDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo .paymentVisaCardInfoInner .paymentCardMiddleInfo .paymentCardEndDetail .exp {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo .paymentVisaCardInfoInner .paymentCardMiddleInfo .paymentCardEndDetail .cvv {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo .paymentVisaCardInfoInner .paymentCardInfo ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 0;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo .paymentVisaCardInfoInner .paymentCardInfo ul li a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo .paymentVisaCardInfoInner .paymentCardInfo ul li a:before {
  position: absolute;
  content: "|";
  right: -10px;
  color: #ffffff;
  top: -3px;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .paymentInfoCardOuter .paymentInfoCard .paymentInfoCardInner .paymentVisaCardRow .paymentVisaCardInfoOuter .paymentVisaCardInfo .paymentVisaCardInfoInner .paymentCardInfo ul li:last-child a:before {
  content: unset;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .formGroup {
  border-radius: 6px;
  border: 1px solid #E3E3E3;
  background: #F5F5F5;
  margin-bottom: 20px;
}
.formGroup {
  border-radius: 6px;
  border: 1px solid #E3E3E3;
  background: #F5F5F5;
  margin-bottom: 20px;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .formGroup input {
  height: 50px;
  border: 0;
  background: #F5F5F5;
  color: #999;
}

.addressInput{
    height: 50px;
    border: 0;
    background: #F5F5F5;
    color: #999;
  
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .formGroup .input-group-text {
  border: 0;
  background: #F5F5F5;
  color: #FFA31E;
  font-size: 14px;
  font-weight: 700;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .formRatioGroup {
  display: flex;
  align-items: center;
  gap: 15px;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .formRatioGroup h5 {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .formRatioGroup .img-btn span {
  border: 1px solid #FFA31E;
  padding: 15px 20px 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #111111;
  font-size: 14px;
  font-weight: 600;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .formRatioGroup .img-btn span svg path {
  fill: #FFA31E;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .formRatioGroup .img-btn input {
  display: none;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .formRatioGroup .img-btn input:checked + span {
  background-color: #FFA31E;
  color: #ffffff;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .formRatioGroup .img-btn input:checked + span svg path {
  fill: #ffffff;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .formRatioGroup .formRatioGroupInner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.myProfile .myProfileInner .tabContent .tab-content .paymentMethodsContent .personalContent .btn {
  margin-top: 20px;
}
.changeAddress{
  height: 360px;
  position: relative;
}

.uabtn{
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.textareaAddress{
  
  background: #F5F5F5;
  color: #999;
}

@media (max-width:768px) {
  .changeAddress{
    height: fit-content;
  }
  .uabtn{
    position: static;
  }
}

