
.myAdmin .myAdminInner .navTabs {
  border-radius: 15px;
  border: 1px solid #FFA31E;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
  transition: all 0.6s ease;
}
.myAdmin .myAdminInner .navTabs .nav-pills {
  justify-content: space-between;
}
.myAdmin .myAdminInner .navTabs .nav-pills li a {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 40px 10px 10px;
  color: #999;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
}
.myAdmin .myAdminInner .navTabs .nav-pills li a span {
  width: 50px;
  height: 50px;
  background-color: #FFA31E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.myAdmin .myAdminInner .navTabs .nav-pills li a.active {
  background-color: #FFA31E;
  color: #ffffff;
}
.myAdmin .myAdminInner .navTabs .nav-pills li a.active span {
  background-color: #ffffff;
  border-radius: 50px;
}
.myAdmin .myAdminInner .navTabs .nav-pills li a.active span svg path {
  fill: #FFA31E;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx {
  border-radius: 15px;
  border: 1px solid #FFA31E;
  background: #ffffff;
  padding: 20px;
}
.adminDetailsRow{
  text-align: center;
}

.adminDetails{
  border-radius: 15px;
  border: 1px solid #FFA31E;
  background: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
  transition: all 0.6s ease;
}

.deleteButton{
  transition: 0.3s ease-out;
  background-color: #dc3545 !important;
}

.deleteButton:hover{
  background-color: red !important;
}

.statsButton{
  transition: 0.3s ease-out;
  background-color: skyblue !important;
}

.statsButton:hover{
  background-color: blue !important;
}

.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx {
  border-radius: 15px;
  border: 1px solid #FFA31E;
  background: #ffffff;
  padding: 20px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx.lbChangePassword {
  margin-top: 20px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx .adminHeading {
  margin-bottom: 20px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx .adminHeading h4 {
  color: #111111;
  font-size: 20px;
  font-weight: 600;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx .personalContent .formGroup {
  border-radius: 6px;
  border: 1px solid #E3E3E3;
  background: #F5F5F5;
  margin-bottom: 20px;
}
.formGroup {
  border-radius: 6px;
  border: 1px solid #E3E3E3;
  background: #F5F5F5;
  margin-bottom: 20px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx .personalContent .formGroup input {
  height: 50px;
  border: 0;
  background: #F5F5F5;
  color: #999;
}

.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx .personalContent .formGroup .input-group-text {
  border: 0;
  background: #F5F5F5;
  color: #FFA31E;
  font-size: 14px;
  font-weight: 700;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx .personalContent .formRatioGroup {
  display: flex;
  align-items: center;
  gap: 15px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx .personalContent .formRatioGroup h5 {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
}
.img-btn{
    padding: 5px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx .personalContent .formRatioGroup .formRatioGroupInner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .myAdminBx .personalContent .btn {
  margin-top: 20px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent {
  height: 100%;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .myAdminBx {
  height: 100%;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .myAdminBx .adminImgOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .myAdminBx .adminImgOuter .adminImg {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .myAdminBx .adminImgOuter .adminImg:before, .myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .myAdminBx .adminImgOuter .adminImg:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 300px 0px 300px 300px;
  top: 0;
  left: 0;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .myAdminBx .adminImgOuter .adminImg:before {
  transform: rotate(15deg);
  background-color: rgba(255, 163, 30, 0.7);
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .myAdminBx .adminImgOuter .adminImg:after {
  transform: rotate(30deg);
  background-color: rgba(255, 163, 30, 0.6);
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .myAdminBx .adminImgOuter .adminImg .adminImgInner {
  width: 200px;
  height: 200px;
  background-color: #FFA31E;
  border-radius: 300px 0px 300px 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 10px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .myAdminBx .adminImgOuter .adminImg .adminImgInner img {
  position: relative;
  z-index: 2;
  border-radius: 50%;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .adminUserDetailBx {
  text-align: center;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .adminUserDetailBx h4 {
  color: #FFA31E;
  font-size: 26px;
  font-weight: 600;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .adminUserDetailBx span.profTag {
  display: block;
  margin-bottom: 10px;
  color: #999;
  font-size: 16px;
  font-weight: 400;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .adminDetail {
  margin-top: 100px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .adminDetail ul {
  list-style: none;
  padding-left: 0;
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .adminDetail ul li a {
  color: #999;
  font-size: 22px;
  font-weight: 300;
}
.myAdmin .myAdminInner .tabContent .tab-content .myAdminContent .personalAdminContent .adminDetail ul li a svg {
  margin-right: 10px;
}