/* #asdf{
    background: red;
    height: 100vh;
} */

.abc {
  display: flex;
}

.signinsection {
  height: 80vh;

}

.signinleft {
  /* background-color: #ffa11e4d; */
  border: 2px solid black;
  padding: 30px;
  border-radius: 30px 0px 0px 30px;

}

.signinright {
  background-color: black;
  padding: 30px;
  border-radius: 0px 30px 30px 0px;

}

.signinLogo {
  padding: 20px;
}

.loginGroup {
  width: 60%;
}

/* .loginSec {
    height: 100vh;
  }
  .loginSec .loginSecContainer {
    height: 100%;
  }
  .loginSec .loginSecContainer .loginSecInner {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    height: 100%;
  }
  .loginSec .loginSecContainer .loginSecInner .loginSecDotsNav .backBtn {
    padding: 40px;
  }
  .loginSec .loginSecContainer .loginSecInner .loginSecDotsNav .loginDotsNavInner {
    padding: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: -80px;
  }
  .loginSec .loginSecContainer .loginSecInner .loginSecDotsNav .loginDotsNavInner a {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: #999;
    border-radius: 50px;
  }
  .loginSec .loginSecContainer .loginSecInner .loginSecDotsNav .loginDotsNavInner a.active {
    background: #FFA31E;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm {
    background: #FFA31E;
    padding: 40px 150px;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginSignupHeading {
    margin-bottom: 60px;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginSignupHeading h2 {
    color: #ffffff;
    font-family: "Jacques Francois";
    font-size: 60px;
    font-weight: 400;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 100px;
    height: 100%;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner .signinLogo a {
    width: 150px;
    display: inline-block;
    margin-bottom: 20px;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup {
    margin-bottom: 30px;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup label {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .form-control {
    border-radius: 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    height: 60px;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .form-control::placeholder {
    color: #ffffff;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .input-group {
    position: relative;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .input-group .form-control {
    padding: 10px 50px 10px 20px;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .input-group .inputGroupText {
    position: absolute;
    right: 0;
    padding: 15px 20px;
    top: 2px;
    z-index: 8;
    cursor: pointer;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .input-group .inputGroupText.passwordShow {
    cursor: pointer;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .input-group .inputGroupText.passwordShow i {
    color: #ffffff;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .formRememberGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .formRememberGroup .form-check label.form-check-label {
    font-size: 16px;
    color: #ffffff;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .formRememberGroup .form-check label.form-check-label .form-check-input {
    background-color: transparent;
    border: 1px solid #ffffff;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .formRememberGroup .form-check label.form-check-label .form-check-input:checked[type=checkbox] {
    background-color: #FFA31E;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .formRememberGroup .forgotPassword {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: right;
    padding: 10px;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginGroup .formRememberGroup .forgotPassword:hover {
    text-decoration: underline;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginSignupBtn {
    width: 100%;
    border-radius: 30px;
    background: #ffffff;
    height: 60px;
    color: #FFA31E;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.4s ease;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner form .loginSignupBtn:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff;
    color: #ffffff;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 60px;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner p a {
    color: #111111;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormInner p a:hover {
    text-decoration: underline;
  }
  .loginSec .loginSecContainer .loginSecInner .loginForm .loginFormOuter .loginFormImg {
    width: 100%;
    text-align: center;
  }
  .loginSec .loginSecContainer .loginSecInner .loginTab a {
    background: #111111;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
  .loginSec .loginSecContainer .loginSecInner .loginTab a span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
  } */