.card-custom {
    display: flex;
    background-color: white;
    border-radius: 15px;
  border: 1px solid #FFA31E;
  text-decoration: none;
}
.card-custom img {
    width: 150px; 
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
    text-align: center;
}
.card-custom-body {
    flex: 1;
    padding-left: 15px;
}
.row-custom {
    display: flex;
    justify-content: space-between;
}
.row-custom .col-custom {
    flex: 1;
    text-align: center;
    border-right: 1px solid #ddd;
}
.row-custom .col-custom:last-child {
    border-right: none;
}

.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.card-custom-body{
    padding: 30px;
}